In [1]:
import bokeh
import pandas as pd
import numpy as np
bokeh.__version__

'1.4.0'

In [2]:
from bokeh.io import curdoc
from bokeh.layouts import column, row
from bokeh.models import ColumnDataSource, PreText, Select
from bokeh.plotting import figure

# Dataprep

In [3]:
df_confirmed = pd.read_csv('data/time_series_covid19_confirmed_global.csv')
df_death = pd.read_csv('data/time_series_covid19_deaths_global.csv')
df_recovered = pd.read_csv('data/time_series_covid19_recovered_global.csv')

In [4]:
regions_death = df_death['Country/Region']
regions_confirmed = df_confirmed['Country/Region']
regions_recovered = df_recovered['Country/Region']

In [5]:
df_death = df_death.drop(['Province/State','Lat','Long','Country/Region'],axis=1).T
df_death.columns = regions_death
df_death.to_csv('data/death.csv')

In [6]:
df_confirmed = df_confirmed.drop(['Province/State','Lat','Long','Country/Region'],axis=1).T
df_confirmed.columns = regions_confirmed
df_confirmed.to_csv('data/confirmed.csv')

In [7]:
df_recovered= df_recovered.drop(['Province/State','Lat','Long','Country/Region'],axis=1).T
df_recovered.columns = regions_recovered
df_recovered.to_csv('data/recovered.csv')

In [10]:
regions_recovered

0                Afghanistan
1                    Albania
2                    Algeria
3                    Andorra
4                     Angola
               ...
245                   France
246              South Sudan
247           Western Sahara
248    Sao Tome and Principe
249                    Yemen
Name: Country/Region, Length: 250, dtype: object

# Load data

In [11]:
df_confirmed = pd.read_csv('data/confirmed.csv',parse_dates=[0])
df_death = pd.read_csv('data/death.csv',parse_dates=[0])
df_recovered = pd.read_csv('data/recovered.csv',parse_dates=[0])

In [13]:
df_confirmed.rename( columns={'Unnamed: 0':'date'}, inplace=True )
df_death.rename( columns={'Unnamed: 0':'date'}, inplace=True )
df_recovered.rename( columns={'Unnamed: 0':'date'}, inplace=True )

In [14]:
df_death

,date,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,...,Burundi,Sierra Leone,Netherlands.4,Malawi,United Kingdom.10,France.10,South Sudan,Western Sahara,Sao Tome and Principe,Yemen
0,2020-01-22,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2020-01-23,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2020-01-24,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2020-01-25,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2020-01-26,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87,2020-04-18,30,26,367,35,2,3,129,20,3,...,1,0,0,2,0,0,0,0,0,0
88,2020-04-19,33,26,375,36,2,3,132,20,3,...,1,0,0,2,0,0,0,0,0,0
89,2020-04-20,36,26,384,37,2,3,136,22,3,...,1,0,0,2,0,0,0,0,0,0
90,2020-04-21,36,26,392,37,2,3,147,24,3,...,1,0,0,2,0,0,0,0,0,0
91,2020-04-22,40,27,402,37,2,3,152,24,3,...,1,0,0,3,0,0,0,0,0,0